.eerf
  &-container
    height 100%
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
    width 100%
  &-Content
    -webkit-flex-basis 50%
    -webkit-flex-flow row nowrap
    display -webkit-flex
    display flex
    flex-basis 50%
    flex-flow row nowrap
    height 92%
    max-height 92%
    max-width 100%
    min-height 92%
    min-width 100%
    width 100%
  &-Header
    -webkit-flex-flow row nowrap
    -webkit-align-items center
    -webkit-align-content center
    -webkit-justify-content space-between
    align-items center
    align-content center
    display -webkit-flex
    display flex
    flex-flow row nowrap
    justify-content space-between
    height 8%
    max-height 8%
    max-width  100%
    min-height 8%
    min-width 100%
    background-color $material-black
    width 100%

    &-appTitle
      -webkit-order 0
      align-items center
      background-color $material-black
      color $material-white
      display flex
      height 100%
      max-height 100%
      max-width 18%
      min-height 100%
      min-width 18%
      order 0
      width 18%

      > span
        font-family 'Fira Mono'
        font-size 1.4rem
        font-style italic
        font-weight bold
        height 33%
        max-height 33%
        max-width 97%
        padding 0% 3%
        width 100%
  &-Home
    -webkit-justify-content flex-start
    -webkit-flex-flow column nowrap
    background-color
    display flex
    display -webkit-flex
    flex-flow column nowrap
    height 100%
    justify-content flex-start
    max-height 100%
    max-width 100%
    min-height 100%
    min-width 100%
    width 100%
