.eerf-Input
  -webkit-order 0
  height 100%
  max-height 100%
  max-width 60%
  min-height 100%
  min-width 60%
  order 0
  width 60%

  &:focus
    outline-color $material-gray-light
  &-content
    border-width 0px .25px 0px 0px
    border-color $material-gray-light
    box-shadow -2px 8px 9px 5px $material-gray-light
    font-family 'Fira Mono'
    height 99%
    max-height 99%
    max-width 99%
    min-height 99%
    min-width 99%
    padding .5% 0% 0% .5%
    width 99%

    &:focus
      outline-color $material-gray-light
