@import 'variables'

html
  font-family 'Fira Sans', sans-serif
  font-weight 400
  height 100vh
  max-height 100vh
  max-width 100vw
  min-height 100vh
  min-width 100vw
  width 100vw
body
  height 100%
  max-height 100%
  max-width 100%
  min-height 100%
  min-width 100%
  width 100%

@import 'eerf'
@import 'input'
@import 'navbar'
@import 'output'
