.eerf
  &-Navbar
    -webkit-order 1
    height 100%
    max-height 100%
    max-width 80%
    min-height 100%
    min-width 80%
    order 1
    width 80%

    &-List
      -webkit-align-content center
      -webkit-align-items center
      -webkit-flex-basis  20%
      -webkit-flex-flow row nowrap
      -webkit-justify-content flex-end
      align-content center
      align-items center
      color $material-white
      display -webkit-flex
      display flex
      flex-basis 20%
      flex-flow row nowrap
      font-size .8em
      font-weight bolder
      height 100%
      justify-content flex-end
      max-height 100%
      max-width 100%
      min-height 100%
      min-width 100%
      width 100%
    &-ListItem
      height 25%
      max-height 25%
      max-width 25%
      min-height 25%
      min-width 25%
      width 25%
      text-align center
