extends layout

block content
  .eerf-container
    .eerf-Home
      header.eerf-Header
        .eerf-Header-appTitle
          span
            | Eerf
        nav.eerf-Navbar
          ul.eerf-Navbar-List
            li.eerf-Navbar-ListItem
              a
                span
                  | Import
            li.eerf-Navbar-ListItem
              a
                span
                  | Export
      main.eerf-Content
        .eerf-Input
          textarea.eerf-Input-content
        .eerf-Output
