doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, initial-scale=1.0 user-scalable=no')
    title
      | Sample fountain script
    link(rel='stylesheet' href='/css/fix.css')
    link(rel='stylesheet' href='/css/fountain.css')
  body
    h1
      | Sideshow
    p.credit
      | written by
    p.authors
      | brwnrclse
    p.notes
      | Composed as an optional part of an "integrated" series. Reading this in conjunction with () may give context.
    <!-- -->
    hr
    p.section(data-depth='1')
      | ACT I
    p.section(data-depth='3')
      | SCENE I
    h2(id='1-1-A')
      | INT. NIGHT CLUB
    p
      | CHANCE THE RAPPER is performing an improv show. His sporadic movements are capturing the crowd but the real attraction is that the routine consist entirely of selections from
    strong
      | ACID RAP
    P
      | Instead of rapping, Chance and a puppet (BUCKET) on his hand perform the lyrics as a narrative between two friends.
    div.dialogue
      h4
        | CHANCE THE RAPPER
      p.parenthetical
        | (to Bucket)
      p
        | ACID ACID?
    div.dialogue
      h4
        | BUCKET
      p.parenthetical
        | (to CHANCE THE RAPPER)
      p
        | Get It? ACID
    div.dialogue
      h4
        | CHANCE THE RAPPER
      p.parenthetical
        | (to Bucket)
      p
        | Melts through plastic?
    div.dialogue
      h4
        | BUCKET
      p.parenthetical
        | (to CHANCE THE RAPPER)
      p: strong
        | F-I-R-E
      p.parenthetical
        | (spewing fire)
      p
        | I SPIT
    p.transition
      | CUT TO:
    h2(id='1-2-A')
      | INT. BACK IN THE CROWD
    p
      | Two fans discussing
    .dialogue
      h4
        | FAN # 1
      p
        | Is it me or are you not getting
        | (pulls ears ans sticks out tongue)
      strong: em
        | comedy
      p
        | from this?
    .dialogue
      h4
        | FAN #2
      p.parenthetical
        | (to FAN # 1)
      p
        | Nah I feel like it's kinda going along with the
      em
        | Arthur
      p
        | thing but the puppet is giving me a Frank Oz, Sesame Street vibe. You know like Count Chocula on acid.
        | ONE ACID
        | TWO TABS
        | THREE ACID
        | FOUR ACIDS
    .dialogue
      h4
        | FAN #1
      p.parenthetical
        | (to FAN #2)
      p
        | Maybe you\'re right.
        | (shrugs)
    .dialogue
      h4
        | CHANCE THE RAPPER
      p.parenthetical
        | (to Bucket & CROWD)
      p
        | NAH NAH NAHNAHNAH
    .dual-dialog
      .dialog.right
        h4
         | CROWD
        p.parenthetical
          | (to stage)
        p
          | NA NA NAH NAHNAHNAH
    .dialogue
      h4
        | BUCKET
      p.parenthetical
        | (to the sky)
      p
        | AUGH
    p.centered
      | END SCENE
