extends layout

block content
  #eerf-root.eerf-container

  footer
    if (production)
      script(type='text/javascript').
        SystemJS.import('eerf');
    else
      script(type='text/javascript').
        SystemJS.production = false;
        SystemJS.trace = true;
        SystemJS.import('systemjs-hot-reloader').then(function(hr) {
          new hr.default('http://#{addr}:5776');
        });
        SystemJS.import('eerf');
