doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0 minimum-scale=1.0 initial-scale=1.0 user-scalable=no')
    link(rel='stylesheet', href='css/fix.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Mono:400,400italic,500,500italic' type='text/css')
    script(src='/assets/jspm_packages/system.js' type='text/javascript')
    script(src='jspm.config.js' type='text/javascript')
    if (production)
      script(src='/js/eerf.js')
    block bundle
    title
      | eerf-systemjs
  body.app-container
    block content
